@import "tailwindcss";
@theme {
    --color-brand-black: var(--black);
    --color-brand-dark: var(--dark);
    --color-brand-off-white: var(--off-white);
    --color-brand-gray-light: var(--gray-light);
    --color-brand-gray-medium: var(--gray-medium);
    --color-brand-gray-dark: var(--gray-dark);
    --color-brand-blue: var(--blue);
    --color-brand-purple: var(--purple);
    --font-sans: var(--font-nunito), var(--font-main);
    --animate-float: float 3s ease-in-out infinite;

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-15px);
        }

        100% {
            transform: translateY(0);
        }
    }
}
